*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family: "poppins",sans-serif;
}
body{
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 100vh;
    background:url(pexels-pixabay-268533.jpg) no-repeat;
     background-size:cover;
     background-position:center;
     }
     .wrapper{
        width:420px;
        background:fixed;
        border:4px solid rgba(48, 47, 124, 0.2);
        color:#ffffff;
        border-radius:15px;
        padding:30px 40px;
     }
     .wrapper h1{
        font-size:36px;
        text-align:center;
     }
.wrapper .mukesh
    {
        position:relative;
        width:100%;
        height:50px;              
        margin:30px 0;
    }
    .mukesh input{
        width:100%;
        height:100%;
        background:transparent;
        border:none;
        outline:none;
        border:2px solid rgba(255,255,255, .2);
        border-radius:40px;
        font-size: 16px;
        color:white;
        padding:20px 45px 20px 20px;
    }
     .mukesh input::placeholder{
        color:white;
 }
 .mukesh i{
    position:absolute;
    right:20px;
    top:19px;
    transform:translate(-50%);
    font-size:20px;
 }
.wrapper .remember-fogot{
    display:flex;
    justify-content: space-between;
    font-size:14.5px;
    margin: -15px 0 15px;
}
.remember-fogot label input{
     accent-color:blue;
     margin-right:3px;
}
.remember-fogot a{
    color:white;
    text-decoration:none;
}
.remember-fogot a:hover{
    text-decoration:underline;
}
.wrapper .btn{
    width:100%;
    height:45px;
    background: white;
    border:none;
    outline:none;
    border-radius:40px;
    box-shadow: 0 0 10px black;
    cursor:pointer;
    font-size:16px;
    color:#333;
   font-weight:600;
}
.wrapper .register-link{
    font-size:14.5px;
    text-align: center;
   margin:20px 0 15px;
}
.register-link p a{
    color:white;
    text-decoration:solid;
    font-weight:600;
  
   
}
.register-link p a:hover{
    text-decoration:underline;
}